/*- TYPOGRAPY */
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext");

body, input, select, td { 	font-family: 'Noto Sans', Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6 { 		font-family: 'Noto Sans', Arial, Helvetica, sans-serif; } 

a, a:hover, a:focus { 
	text-decoration: none; 
}

a:hover{ 
	color: #FF6B00; 
}

/*a:visited {
	color: #9B00D0;
}*/

h2.entry-title { 
	font-size: 30px; 
}

h3.widget-title {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	padding-bottom: 5px;
}