/* Seperator */
hr, div.seperator {
padding-top: 20px;
margin-top: 20px;
margin-bottom: 20px;
border-top: 1px solid #FFF;
clear: both;
padding-bottom: 0px;
border-bottom: 0;
	background: -moz-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%, rgba(34, 34, 34,0) 75%);
	background: -webkit-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%, rgba(34, 34, 34, 0) 75%);
	background: -o-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
	background: -ms-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
	background: radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
}