/* CORE */
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext");

/* Typography */
body, input, select, td { 	font-family: 'Noto Sans', 'Open Sans', Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6 { 		font-family: 'Noto Sans', 'Open Sans', Arial, Helvetica, sans-serif; } 

a, a:hover, a:focus { 
	text-decoration: none; 
}

a:hover{ 
	color: #FF6B00; 
}

/*a:visited {
	color: #9B00D0;
}*/

h2.entry-title { 
	font-size: 30px; 
}

h3.widget-title {
  margin-top: 0;
  font-size: 16px;
  padding-bottom: 5px;
}

/* Image Alignments & Captions */
.entry-content img{ max-width:100%;height:auto }
.wp-caption { background: white; text-align: center; padding: 8px; border-radius: 6px; box-shadow: #ccc 0 0 4px; margin-bottom: 15px; }
.wp-caption-text {
  font-size: 90%;
  font-style: italic;
  text-align: center;
  padding: 10px 0 0;
  margin-bottom: 2px;
}
.entry-content img.aligncenter, .wp-caption.aligncenter{ display:block; margin:30px auto; clear: both; }
article img.WP-EmailIcon{margin:0;display:inline;vertical-align:bottom;padding:2px!important}
.entry-content img.alignleft, .wp-caption.alignleft{float:left;margin-right:20px; margin-bottom: 10px; }
.entry-content img.alignright, .wp-caption.alignright{float:right;margin-left:20px; margin-bottom: 10px; }

/* Tables */
table{border-collapse:collapse;border:1px solid #ccc;margin-bottom: 15px;}
td { vertical-align: top; } 
td,th{padding:3px 4px;border:1px solid #ccc}
thead th, th{background:#f0f0f0}

/* Attachments */
div.attachment{
	position: relative;
}
.attachment img {
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.6) 0 2px 7px;
}
a.full-size-link{
	display: block;
	position: absolute; 
	background: rgba(0,0,0,0.8);
	padding: 3px 5px;
	top: 5px;
	right: 5px; 
	color:#fff;
	font-size:11px;
	opacity:0.7;
	-webkit-transition: opacity linear 0.2s;
	border-radius: 4px;
}
a.full-size-link:hover{
	opacity: 1;
}
.attachment-navigation {
position: absolute;
bottom: 80px;
width: 430px;
padding: 10px;
background: rgba(0, 0, 0, 0.5);
color: white;
}
.attachment-navigation a{ color:#eee; }
.attachment-navi {
padding: 0;
margin: 0;
line-height: 30px;
}

/* WordPress Junkies */
.wp-smiley{display:inline;vertical-align:text-top} 
form.post-password-form p { text-align: center; padding: 15px; margin-bottom: 10px; } 
blockquote.twitter-tweet { border: 1px solid #55ACEE; font-size: 15px; border-radius: 6px; } 

/*- NAVBAR */
body .navbar-default {
	background: rgba(255,255,255,0.9);
	border-bottom: 2px solid #fff;
	box-shadow: rgba(105, 153, 171, 0.28) 0px 2px 30px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #fff;
}

.navbar-default a.navbar-brand {
color: #333;
font-weight: bold;
}

.admin-bar nav.navbar.navbar-default.navbar-fixed-top {
top: 32px;
}

/*- PAGINATION */
.wp-pagenavi, .comments-navigation {
	text-align: center;
}

.wp-pagenavi a, .wp-pagenavi>span, .paginated-comments-links>span, .paginated-comments-links a {
	background: #fff;
	display: inline-block;
	padding: 7px 12px;
	border: 3px solid #eee;
	margin: 3px;
	border-radius: 6px;
}

/* Table of Contents */
.toc li { line-height: 2em; margin: 0; }
.toc ol { margin: 0; }
.toc-floatright {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: right;
	margin: 0 0 20px 15px;
	padding: 10px;
}
.toc-regular {
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 15px;
	border-bottom:2px solid #ccc; 
	border-top:1px solid #ddd 
}

/*- POST FORMATS */

.format-quote .entry-content blockquote { background: transparent; border: 0; box-shadow: none; padding: 0; margin: 0; }  
.format-quote  .entry-content p { margin: 0; } 
.format-quote .entry-content blockquote { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; } 
.hentry.format-quote .entry-content {
	font-style: italic;
	font-size: 18px;
}
.format-quote cite {
display: block;
text-align: right;
margin: 0 0 1em;
}

.format-audio  .entry-content p { margin: 0; } 
.format-image  .entry-content p { margin: 0; } 
.format-link  .entry-content p { margin: 0; } 
.format-status .author-avatar { float: left; margin-right: 10px; }  
.format-image {
	
}
.format-image img.aligncenter { box-shadow: rgba(0, 0, 0, 0.5) 0 1px 9px; margin:0 auto 20px; }
/* .home .format-image img { max-width: 200px; } */
.format-image img { max-width: 710px; }
.format-image .entry-content{ text-align:center; } 
.format-image .wp-caption { padding: 0; box-shadow: none; text-align: center; } 
.format-image .wp-caption p.wp-caption-text{ text-align:center; }  
.format-aside { background: transparent; }  
.format-gallery .entry-body { margin-left: 200px; }
.single .format-gallery .entry-body { margin: 0px; }
.gallery-wrap {
margin-top: 15px;
float: left;
width: 200px;
}
.gallery-wrap ul { margin: 0; padding: 0; list-style:none; }
.gallery-display li {
border-radius: 6px;
float: left;
list-style: none;
text-align: center;
position: relative;
left: -15%;
top: 0;
}
ul.gallery-display li img { 
	padding:5px; 
	-webkit-transform: rotate(3deg);
	background: white;
	box-shadow: rgba(0,0,0,0.2) 0 0 15px;
}
ul.gallery-display li + li { left: -5%; margin-top: -70%; }
	ul.gallery-display li+li img { -webkit-transform: rotate(-3deg); }
ul.gallery-display li + li + li { left: 10%; }
	ul.gallery-display li+li+li img { -webkit-transform: rotate(4deg); }

/* Comments */
.nocomments { text-align: center; padding: 30px 0 0; font-size: 1.6em; font-weight: 100; color: #aaa; }
.commentlist{list-style:none;padding:0;font-size:.9em}
.commentlist li{border-radius:5px}
.commentlist cite:before,article .meta cite:before{content:""}
li.comment{background:#fefefe;list-style:none;border:1px solid #ddd;padding:10px;box-shadow:#eee 1px 2px 4px; margin-bottom: 6px;}
li.pingback{background:#f9f9f9;color:#999;padding:10px; margin-bottom: 6px;list-style: none;}
.avatar.avatar-32.photo{float:left;margin:0 5px 5px 0}
.comment-author.vcard{}
.comment-meta.commentmetadata a { color: #aaa; }
cite.fn{font-weight:700}
.commentlist p{margin-bottom:.6em;margin-left:38px}
.reply{text-align:right}

#respond {
  margin: 1em 0;
  overflow: hidden;
  padding: 15px;
  position: relative;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
p.logged-in-as {
text-align: right;
}
#reply-title {
	margin: 0 0 10px;
}
p.comment-notes {
  color: #aaa;
  font-style: italic;
}
.form-submit {
  text-align: right;
}
a#cancel-comment-reply-link {
  color: #e60;
}

li.comment ol.children {
  clear: both;
  padding: 10px 10px 10px 30px;
}

div.comment-author img.avatar { 
  float: left;
  margin: 0;
  margin-right: 10px;
  position: relative;
  z-index: 3;
  border: 4px solid #fff;
  border-radius: 40px;
  box-shadow: #ddd 2px 2px 0px;
  margin-top: -16px;
  margin-left: -32px;
}
.bypostauthor div.comment-author img.avatar { float: right; }
.bypostauthor div.comment-text { margin: 0; margin-right: 50px; }
div.comment-body-inline { display: block; }
div.comment-text { line-height: 1.5em; margin-left: 50px; padding: 3px; }
div.inline-comment { 
margin-bottom: 1em;
padding: 4px 4px 4px;
background: rgba(255, 255, 255, 0.8);
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
div.inline-comment a.comment-reply-link { clear: right; display: block; float: right; line-height: inherit; margin-top: 5px; padding: 0 5px; }
div.inline-comments-list { margin: 1em 1em 1em 2.5em; }
ul.inlinecomments, ul.inlinecomments ul, ul.inlinecomments li { list-style: none; margin: 0; padding: 0; }
ul.inlinecomments ul { margin-left: 20px; }

.fn {
font-style: normal;
font-weight: bold;
}
.comment-date a {
color: #999;
}


/* Seperator */
/* Seperator */
hr, div.seperator {
padding-top: 6px;
margin-top: 45px;
margin-bottom: 39px;
border-top: 1px solid #FFF;
clear: both;
padding-bottom: 0px;
border-bottom: 0;
	background: -moz-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%, rgba(34, 34, 34,0) 75%);
	background: -webkit-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%, rgba(34, 34, 34, 0) 75%);
	background: -o-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
	background: -ms-radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
	background: radial-gradient(50% 0, ellipse, rgba(196, 196, 196, 0.51) 0%,rgba(34, 34, 34,0) 75%);
}

.mr{ margin-right: 6px; } 
.ml{ margin-left: 6px; }



/* Iconize */
a[href *="youtube.com/watch?"],a[href *="sevenload.com/videos/"],a[href *="metacafe.com/watch/"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_film.gif) no-repeat center right}a[href *="flickr.com/photos/"],a[href *="zooomr.com"],a[href *="imageshack.us"],a[href *="bubbleshare.com"],a[href *="sevenload.com/bilder/"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_pic.gif) no-repeat center right} a[href$='.doc'],a[href$='.rtf']{padding:5px 20px 5px 0;background:transparent url(icons/icon_doc.gif) no-repeat center right}a[href$='.txt']{padding:5px 20px 5px 0;background:transparent url(icons/icon_txt.gif) no-repeat center right}a[href$='.xls']{padding:5px 20px 5px 0;background:transparent url(icons/icon_xls.gif) no-repeat center right}a[href$='.rss'],a[href$='.atom']{padding:5px 20px 5px 0;background:transparent url(icons/icon_feed.gif) no-repeat center right}a[href$='.opml']{padding:5px 20px 5px 0;background:transparent url(icons/icon_opml.gif) no-repeat center right}a[href$='.phps']{padding:5px 20px 5px 0;background:transparent url(icons/icon_phps.gif) no-repeat center right;padding:5px 20px 5px 0;background:transparent url(icons/icon_phps.gif) no-repeat center right}a[href$='.torrent']{padding:5px 20px 5px 0;background:transparent url(icons/icon_torrent.gif) no-repeat center right}a[href$='.vcard']{padding:5px 20px 5px 0;background:transparent url(icons/icon_vcard.gif) no-repeat center right}a[href$='.exe']{padding:5px 20px 5px 0;background:transparent url(icons/icon_exe.gif) no-repeat center right}a[href$='.dmg'],a[href$='.app']{padding:5px 20px 5px 0;background:transparent url(icons/icon_dmg.gif) no-repeat center right}a[href$='.pps']{padding:5px 20px 5px 0;background:transparent url(icons/icon_pps.gif) no-repeat center right}a[href$='.pdf']{padding:5px 20px 5px 0;background:transparent url(icons/icon_pdf.gif) no-repeat center right}a[href$='.xpi']{padding:5px 20px 5px 0;background:transparent url(icons/icon_plugin.gif) no-repeat center right}a[href$='.fla'],a[href$='.swf']{padding:5px 20px 5px 0;background:transparent url(icons/icon_flash.gif) no-repeat center right}a[href$='.zip'],a[href$='.rar'],a[href$='.gzip'],a[href$='.bzip'],a[href$='.ace']{padding:5px 20px 5px 0;background:transparent url(icons/icon_archive.gif) no-repeat center right}a[href$='.ical']{padding:5px 20px 5px 0;background:transparent url(icons/icon_ical.gif) no-repeat center right}a[href$='.css']{padding:5px 20px 5px 0;background:transparent url(icons/icon_css.gif) no-repeat center right}a[href$='.ttf']{padding:5px 20px 5px 0;background:transparent url(icons/icon_ttf.gif) no-repeat center right}a[href$='.mov'],a[href$='.wmv'],a[href$='.mp4'],a[href$='.avi'],a[href$='.mpg']{padding:5px 20px 5px 0;background:transparent url(icons/icon_film.gif) no-repeat center right}a[href$='.mp3'],a[href$='.wav'],a[href$='.ogg'],a[href$='.wma'],a[href$='.m4a']{padding:5px 20px 5px 0;background:transparent url(icons/icon_music.gif) no-repeat center right}a[href ^="aim:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_aim.gif) no-repeat center right}a[href ^="msnim:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_msn.gif) no-repeat center right}a[href ^="xmpp:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_jabber.gif) no-repeat center right}a[href *="icq.com"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_icq.gif) no-repeat center right}a[href *="edit.yahoo.com/config/send_webmesg?"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_yim.gif) no-repeat center right}a[href ^="callto:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_call.gif) no-repeat center right}a[href ^="skype:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_skype.gif) no-repeat center right}a[href ^="gg:"]{padding:5px 20px 5px 0;background:transparent url(icons/icon_gadugadu.gif) no-repeat center right}a[href ^="mailto:"]{padding:5px 5px 5px 20px;background:rgba(0,0,0,0) url(icons/icon_mailto.gif) no-repeat center left}.imageLink{padding-right:0!important;background:none!important}

/* Bootstrap Social (https://github.com/lipis/bootstrap-social) */
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}.btn-social-icon{position:relative;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}.btn-social-icon :first-child{border:none;text-align:center;width:100%!important}.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}.btn-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn:hover,.btn-adn:focus,.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{background-image:none}.btn-adn.disabled,.btn-adn[disabled],fieldset[disabled] .btn-adn,.btn-adn.disabled:hover,.btn-adn[disabled]:hover,fieldset[disabled] .btn-adn:hover,.btn-adn.disabled:focus,.btn-adn[disabled]:focus,fieldset[disabled] .btn-adn:focus,.btn-adn.disabled:active,.btn-adn[disabled]:active,fieldset[disabled] .btn-adn:active,.btn-adn.disabled.active,.btn-adn[disabled].active,fieldset[disabled] .btn-adn.active{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn .badge{color:#d87a68;background-color:#fff}.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{background-image:none}.btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket .badge{color:#205081;background-color:#fff}.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{background-image:none}.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox .badge{color:#1087dd;background-color:#fff}.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook .badge{color:#3b5998;background-color:#fff}.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{background-image:none}.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr .badge{color:#ff0084;background-color:#fff}.btn-foursquare{color:#fff;background-color:#f94877;border-color:rgba(0,0,0,0.2)}.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{background-image:none}.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active{background-color:#f94877;border-color:rgba(0,0,0,0.2)}.btn-foursquare .badge{color:#f94877;background-color:#fff}.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github .badge{color:#444;background-color:#fff}.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:hover,.btn-google:focus,.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google .badge{color:#dd4b39;background-color:#fff}.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{background-image:none}.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram .badge{color:#3f729b;background-color:#fff}.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin .badge{color:#007bb6;background-color:#fff}.btn-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft:hover,.btn-microsoft:focus,.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{background-image:none}.btn-microsoft.disabled,.btn-microsoft[disabled],fieldset[disabled] .btn-microsoft,.btn-microsoft.disabled:hover,.btn-microsoft[disabled]:hover,fieldset[disabled] .btn-microsoft:hover,.btn-microsoft.disabled:focus,.btn-microsoft[disabled]:focus,fieldset[disabled] .btn-microsoft:focus,.btn-microsoft.disabled:active,.btn-microsoft[disabled]:active,fieldset[disabled] .btn-microsoft:active,.btn-microsoft.disabled.active,.btn-microsoft[disabled].active,fieldset[disabled] .btn-microsoft.active{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft .badge{color:#2672ec;background-color:#fff}.btn-openid{color:#fff;background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.btn-openid:hover,.btn-openid:focus,.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{background-image:none}.btn-openid.disabled,.btn-openid[disabled],fieldset[disabled] .btn-openid,.btn-openid.disabled:hover,.btn-openid[disabled]:hover,fieldset[disabled] .btn-openid:hover,.btn-openid.disabled:focus,.btn-openid[disabled]:focus,fieldset[disabled] .btn-openid:focus,.btn-openid.disabled:active,.btn-openid[disabled]:active,fieldset[disabled] .btn-openid:active,.btn-openid.disabled.active,.btn-openid[disabled].active,fieldset[disabled] .btn-openid.active{background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.btn-openid .badge{color:#f7931e;background-color:#fff}.btn-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:hover,.btn-pinterest:focus,.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{background-image:none}.btn-pinterest.disabled,.btn-pinterest[disabled],fieldset[disabled] .btn-pinterest,.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled:active,.btn-pinterest[disabled]:active,fieldset[disabled] .btn-pinterest:active,.btn-pinterest.disabled.active,.btn-pinterest[disabled].active,fieldset[disabled] .btn-pinterest.active{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest .badge{color:#cb2027;background-color:#fff}.btn-reddit{color:#000;background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}.btn-reddit:hover,.btn-reddit:focus,.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{background-image:none}.btn-reddit.disabled,.btn-reddit[disabled],fieldset[disabled] .btn-reddit,.btn-reddit.disabled:hover,.btn-reddit[disabled]:hover,fieldset[disabled] .btn-reddit:hover,.btn-reddit.disabled:focus,.btn-reddit[disabled]:focus,fieldset[disabled] .btn-reddit:focus,.btn-reddit.disabled:active,.btn-reddit[disabled]:active,fieldset[disabled] .btn-reddit:active,.btn-reddit.disabled.active,.btn-reddit[disabled].active,fieldset[disabled] .btn-reddit.active{background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}.btn-reddit .badge{color:#eff7ff;background-color:#000}.btn-soundcloud{color:#fff;background-color:#f50;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:hover,.btn-soundcloud:focus,.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{background-image:none}.btn-soundcloud.disabled,.btn-soundcloud[disabled],fieldset[disabled] .btn-soundcloud,.btn-soundcloud.disabled:hover,.btn-soundcloud[disabled]:hover,fieldset[disabled] .btn-soundcloud:hover,.btn-soundcloud.disabled:focus,.btn-soundcloud[disabled]:focus,fieldset[disabled] .btn-soundcloud:focus,.btn-soundcloud.disabled:active,.btn-soundcloud[disabled]:active,fieldset[disabled] .btn-soundcloud:active,.btn-soundcloud.disabled.active,.btn-soundcloud[disabled].active,fieldset[disabled] .btn-soundcloud.active{background-color:#f50;border-color:rgba(0,0,0,0.2)}.btn-soundcloud .badge{color:#f50;background-color:#fff}.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{background-image:none}.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr .badge{color:#2c4762;background-color:#fff}.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter .badge{color:#55acee;background-color:#fff}.btn-vimeo{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo:hover,.btn-vimeo:focus,.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{background-image:none}.btn-vimeo.disabled,.btn-vimeo[disabled],fieldset[disabled] .btn-vimeo,.btn-vimeo.disabled:hover,.btn-vimeo[disabled]:hover,fieldset[disabled] .btn-vimeo:hover,.btn-vimeo.disabled:focus,.btn-vimeo[disabled]:focus,fieldset[disabled] .btn-vimeo:focus,.btn-vimeo.disabled:active,.btn-vimeo[disabled]:active,fieldset[disabled] .btn-vimeo:active,.btn-vimeo.disabled.active,.btn-vimeo[disabled].active,fieldset[disabled] .btn-vimeo.active{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo .badge{color:#1ab7ea;background-color:#fff}.btn-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{background-image:none}.btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk .badge{color:#587ea3;background-color:#fff}.btn-yahoo{color:#fff;background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.btn-yahoo:hover,.btn-yahoo:focus,.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{background-image:none}.btn-yahoo.disabled,.btn-yahoo[disabled],fieldset[disabled] .btn-yahoo,.btn-yahoo.disabled:hover,.btn-yahoo[disabled]:hover,fieldset[disabled] .btn-yahoo:hover,.btn-yahoo.disabled:focus,.btn-yahoo[disabled]:focus,fieldset[disabled] .btn-yahoo:focus,.btn-yahoo.disabled:active,.btn-yahoo[disabled]:active,fieldset[disabled] .btn-yahoo:active,.btn-yahoo.disabled.active,.btn-yahoo[disabled].active,fieldset[disabled] .btn-yahoo.active{background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.btn-yahoo .badge{color:#720e9e;background-color:#fff}

/*
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}*/